@model evaluation1.Models.Hotel

@{
    ViewData["Title"] = "Modifier";
}

<h1>Modifier @Model.Name</h1>

<div class="row">
    <form enctype="multipart/form-data" asp-action="Edit" class="col-9">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="HotelId" />
        <div class="form-group">
            <input type="hidden" asp-for="CityId" class="form-control" />
        </div>
        <fieldset class="p-2 border border-secondary">
            <legend class="w-auto">Identité</legend>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stars" class="control-label"></label>
                <input asp-for="Stars" class="form-control" />
                <span asp-validation-for="Stars" class="text-danger"></span>
            </div>
        </fieldset>
        <fieldset class="p-2 border border-secondary">
            <legend class="w-auto">Adresse</legend>
            <div class="form-group">
                <label asp-for="Adress1" class="control-label"></label>
                <input asp-for="Adress1" class="form-control" />
                <span asp-validation-for="Adress1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress2" class="control-label"></label>
                <input asp-for="Adress2" class="form-control" />
                <span asp-validation-for="Adress2" class="text-danger"></span>
            </div>
        </fieldset>
        <fieldset class="p-2 border border-secondary">
            <legend class="w-auto">Contact</legend>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </fieldset>
        <br />
        <div id="picDisplayContainer">
            @if (!string.IsNullOrEmpty(Model.PicUrl))
            {
                <img class="img-thumbnail" id="picDisplay" src="@Model.PicUrl" />
            }
        </div>
        <div class="form-group">
            <label class="btn btn-light" asp-for="@Model.PicUrl">
                <img src="~/icons/photo.svg"/>
                <input type="file" name="file" id="PicUrl" />
            </label>
        </div>
        <div class="form-group d-none">
            <label asp-for="PicUrl" class="control-label"></label>
            <input id="picUrlInput" type="hidden" asp-for="PicUrl" class="form-control" />
        </div>

        <br />
        <div class="form-group row justify-content-between">
            <label class="btn btn-light">
                <img src="~/icons/book.svg" alt="" />
                <input type="submit" value="Confirmer les modifications" />
            </label>
            <div>
                <a class="btn btn-light" asp-action="Index">
                    <img src="~/icons/list.svg" />
                    Retour à la liste
                </a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
