@model IEnumerable<evaluation1.Models.Hotel>

@{
    ViewData["Title"] = "Liste des hôtels";
}

<div class="text-center">
    <h1>Bienvenue dans votre espace hôtelier!</h1>
    <h2>Ici vous pouvez modifier vos hôtels.</h2>
</div>
<br />

<div  class="d-flex flex-wrap ">
    @foreach (Hotel hotel in Model)
    {
        <div class="card col-4" style="width: 18rem;">
            @if (!string.IsNullOrEmpty(hotel.PicUrl))
            {
                <img class="card-img-top" src="@hotel.PicUrl" alt="">
            }
            <div class="card-body row">
                <div class="col-5">
                    <p class="card-title h6">@hotel.Name</p>
                    <div>
                        @for (var i = 0; i < 5; i++)
                        {
                            if (i >= hotel.Stars)
                            {
                                <img alt="étoile vide" src="~/icons/emptyStar.svg" />
                            }
                            else
                            {
                                <img alt="étoile pleine" src="~/icons/yellowStar.svg" />
                            }
                        }
                    </div>
                </div>
                <div class="col-7">
                    <a  class="btn btn-lg btn-light" asp-action="Edit" asp-route-id="@hotel.HotelId">
                        <img src="~/icons/edit.svg" />
                        Modifier
                    </a>
                </div>
            </div>
        </div>
    }
</div>
