@model evaluation1.Models.City

@{
    ViewData["Title"] = "Details";
}

<h1>C'est parti pour @Model.Name !</h1>
<h2>Voici les hôtels disponibles</h2>

<div>
    @foreach (Hotel hotel in Model.Hotels)
    {
    <div class="card" style="width: 18rem;">
        @if (!string.IsNullOrEmpty(hotel.PicUrl))
        {
            <img class="card-img-top" src="@hotel.PicUrl" alt="">
        }
        <div class="card-body">
            <h5 class="card-title">@hotel.Name</h5>
            <div>
                @for (var i = 0; i < 5; i++)
                {
                    if (i >= hotel.Stars)
                    {
                        <img alt="étoile vide" src="~/icons/emptyStar.svg" />
                    }
                    else
                    {
                        <img alt="étoile pleine" src="~/icons/yellowStar.svg" />
                    }
                }
            </div>
            <a asp-action="Details" asp-controller="Hotels" asp-route-id="@hotel.HotelId">Détails</a>
        </div>
    </div>
    }
</div>
