@model IEnumerable<City>;
@{
    ViewData["Title"] = "Home Page - Choisir une ville";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <h2 class="display-4">Dans quelle ville souhaitez-vous séjourner?</h2>
</div>
<section class="container">
    @foreach(City city in Model)
    {
        <a class="btn btn-light" asp-action="index" asp-controller="hotel">@city.Name</a>
    }
</section>
